﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 25px; /* Vertically center the text there */
}


/* Extrea retro footer styles
-------------------------------------------------- */

.btn-circle {
    border-radius: 50px
}

.forma {
    margin-top: 70px;
    /*margin-top: 10vh;*/
    width: 26vw;
    background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
    border-top: solid 1px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
}

.bg-nav {
    background-color: rgba(35,43,85,0.75)
}

.retro-nav {
    font-size: 3rem
}

.bg-footer {
    background-color: rgba(35,43,85,0.92)
}

.nav-item a:hover {
    color: yellow !important;
    cursor: pointer;
}