﻿@using System.Security.Principal

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Retro software project</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-nav border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/icon.png" width="35" height="35" class="d-inline-block align-top" alt="">
                    Retro
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left: 10px; margin-right: 10px;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Sessions">Sesje</a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px; margin-right: 10px;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Projects" asp-action="Index">Projekty</a>
                        </li>
        <!--
    <li class="nav-item" style="margin-left: 10px; margin-right: 10px;">
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="News">Myśli</a>
    </li>
        -->
                        <li class="nav-item" style="margin-left: 10px; margin-right: 10px;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Aboutus">O nas</a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px; margin-right: 10px;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Prywatność</a>
                        </li>
                        <li class="nav-item ml-auto">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input type="submit" value="Wyloguj @User.Identity.Name" class="nav-link text-dark" />
                                </form>
                            }
                            else
                            {
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Zaloguj</a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-footer">
        <div class="container pt-3 pb-2 text-white">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item">&copy; 2019 WSH III rok IT - <a class="text-white text-xs-center" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
