﻿@model Retro.Data.Models.Project

@{
    ViewData["Title"] = "Utwórz";
}

<style>

    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .list-group-item-light {
        background-color: rgba(226, 227, 238, 0.92)
    }

    .list-group-item-primary {
        background-color: rgba(161, 165, 184, 0.92)
    }

    .btn-success {
        background-color: rgba(35,43,85,0.92)
    }

    .btn-primary {
        background-color: rgba(35,43,85,0.75)
    }

    .bg-nav {
        background-color: rgba(35,43,85,0.75)
    }
</style>

<div class="d-flex justify-content-between" style="height: 10px;">

    <div style="margin-left: 0%; margin-right: 0%; width: 100%; height: 100px; ">
        <h1 class="font-weight-bold text-left" style="color: rgba(35,43,85,0.92); margin-left: 20%; margin-top: 4%; height: 100px;">Utwórz</h1>
        <h3 class="font-weight-bold text-left" style="color: rgba(35,43,85,0.92); height: 50px;border-bottom: solid;">Projekt</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                <div class="container" style=" margin-left: 0px; width: 390px">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="float:left">
                            <label asp-for="ProjectName" class="control-label"></label>
                            <input asp-for="ProjectName" class="form-control" />
                            <span asp-validation-for="ProjectName" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="float:right; margin-top:35px">
                            <input type="submit" value="Utwórz" class="pull-right btn btn-success btn btn-circle" style="width: 100px" />
                        </div>
                    </form>
                </div>
            </li>

        </ul>
    </div>

</div>

<div class="container" style="margin-left:0%; margin-top: 35%; width: 0px;">
    <form asp-controller="Projects" asp-action="Index" method="post" asp-route-id="@Model.Id" style="float:left">
        <div class="form-group">
            <button type="submit" class="pull-right btn btn-success btn btn-circle" style="width: 200px; height: 60px"><h6>Powrót do listy</h6></button>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
