﻿@model IEnumerable<Retro.Data.Models.Project>
@using System.Security.Principal

@{
    ViewData["Title"] = "Projekty";
}

<style>

    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .list-group-item-light {
        background-color: rgba(226, 227, 238, 0.92)
    }

    .list-group-item-primary {
        background-color: rgba(161, 165, 184, 0.92)
    }

    .btn-success {
        background-color: rgba(35,43,85,0.92)
    }

    .btn-primary {
        background-color: rgba(35,43,85,0.75)
    }
</style>


@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-between" style="height: 10px;">
        <div style="width: 100%; height: 100px; ">
            <h1 class="font-weight-bold text-left" style="color: rgba(35,43,85,0.92); margin-left: 20%; margin-top: 4%; height: 100px;">Projekty</h1>

            @foreach (var item in Model)
            {
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">
                        <h6>
                            @item.ProjectName
                        </h6>
                        <div class="container" style=" margin-right: 0px; width: 390px; ">
                            <form asp-controller="Projects" asp-action="Edit" method="post" asp-route-id="@item.Id" style="float:left; margin-left:10px">
                                <div class="form-group">
                                    <button type="submit" class="pull-right btn btn-success btn btn-circle" style="width: 100px;">Edycja</button>
                                </div>
                            </form>
                            <form asp-controller="Projects" asp-action="Details" method="post" asp-route-id="@item.Id" style="float:left; margin-left:10px">
                                <div class="form-group">
                                    <button type="submit" class="pull-right btn btn-success btn btn-circle" style="width: 100px;">Detale</button>
                                </div>
                            </form>
                            <form asp-controller="Projects" asp-action="Delete" method="post" asp-route-id="@item.Id" style="float:left; margin-left:10px">
                                <div class="form-group">
                                    <button type="submit" class="pull-right btn btn-success btn btn-circle" style="width: 100px;">Usuń</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>

    <div class="container" style="margin-right: 47%; margin-top: -1%; width: 0px;">
        <form asp-controller"Projects" asp-action="Create">
            <div class="form-group">
                <button type="submit" class=" btn btn-success btn-block mt-5 btn btn-circle" style="width: 475px; height: 70px">
                    <h3>Utwórz Nowy</h3>
                </button>
            </div>
        </form>
    </div>
}
else
{
    <div class="text-center" style="color:red">
        <h1 class="display-4 font-weight-bold">Proszę się zalogować</h1>
    </div>
}
