    <div class="container my-5">
        <h3>Jestesmy bardzo fajna ekipa!</h3>

        <p class="">Retro dba o prywatność użytkowników. Zapoznaj się z obowiązującymi w Retro zasadami ochrony prywatności, aby dowiedzieć się, w jaki sposób Retro gromadzi, wykorzystuje, ujawnia, przekazuje i przechowuje Twoje dane.</p>
        <p class="">Aby uzyskać dostęp do danych gromadzonych przez Retro i nimi zarządzać, wejdź na stronę <a href="../Account">Zarządzaj swoim kontem Retro</a>. Jeśli chcesz skorygować dane lub masz pytania ogólne, <a href="mailto:wsh.informatyka2018@gmail.com">skontaktuj się z zespołem ds. prywatności</a>.</p>
        

        <h4>Developerzy aplikacji Retro to:</h4>
          
        <h6>Backend</h6>
        <li>Piotr Ulaszewski</li>
        <li>Ewelina Duchnowska</li>
        <li>Mateusz Jackowski</li>
        <h6>Frontend</h6>
        <li>Vladlena Kot</li>
        <li>Vladyslav Latsko</li>
        <li>Yan Skoryna</li>
        <li>Yegor Lytwynenko</li> 
        <li>Taras Kram</li>
        <li>Ilia Lohvinau</li>
        <li>Oleksandra Chernykh</li>
        <li>Nazarii Mironiuk</li>
        
        </div>

    

    