﻿@model Retro.Data.Models.Session

@{
    ViewData["Title"] = "Historia";

    var commentdetails = ViewData["CommentDetails"] as IEnumerable<Retro.Data.Models.CommentDetail>;
    var users = ViewData["Users"] as IEnumerable<Retro.Data.Models.User>;

    List<Retro.Data.Models.Comment> ListaPlusów = new List<Retro.Data.Models.Comment>();
    List<Retro.Data.Models.Comment> ListaMinusów = new List<Retro.Data.Models.Comment>();

    foreach (var user in users)
    {
        foreach (var com in user.Comments)
        {
            foreach (var dt in commentdetails)
            {
                if (dt.CommentId == com.Id && dt.SessionId == Model.Id)
                {
                    if (com.CommentTypes.TypeName == "plusy")
                    {
                        ListaPlusów.Add(com);
                    }
                    if (com.CommentTypes.TypeName == "minusy")
                    {
                        ListaMinusów.Add(com);
                    }
                }
            }
        }
    }
    ListaPlusów = ListaPlusów.OrderByDescending(x => x.Value).ToList();
    ListaMinusów =  ListaMinusów.OrderByDescending(x => x.Value).ToList();
    ViewBag.ListaPlusów = ListaPlusów;
    ViewBag.ListaMinusów = ListaMinusów;
}


<style>
    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .forma {
        margin-top: 40px;
        /*margin-top: 10vh;*/
        width: 50vw;
        background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
    }

    .mtable {
        background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
    }

    .bg-nav {
        background-color: rgba(35,43,85,0.75)
    }

    .retro-nav {
        font-size: 3rem
    }

    .bg-footer {
        background-color: rgba(35,43,85,0.92)
    }
</style>

<h1 style="text-align:center; margin-top:40px">Historia sesji : @Model.SessionName</h1>

<div>
    <hr />
    <dl class="row p-4 forma  mx-auto" style="color: rgb(213,214,222)">
        <dt class="col-sm-4" style="color:gold">
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>
        <dd class="col-sm-8" style="color:gold">
            @Html.DisplayFor(model => model.SessionName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfVotes)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NumberOfVotes)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SessionTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SessionTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AccessKey)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AccessKey)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Anonym)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Anonym)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>
    </dl>
</div>

<div class="table-responsive" style="width:100%; margin-top:50px">
    <table class="table">
        <thead style="text-align:center">
            <tr>
                <th style="width:50%">Plusy</th>
                <th style="width:50%">Minusy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="table mtable" style="width:100%; color: rgb(213,214,222)">
                        <thead style="color:gold">
                            <tr>
                                <th style="width:20%">
                                    Użytkownik
                                </th>
                                <th style="width:70%; margin-left:10px">
                                    Treść
                                </th>
                                <th style="width:10%">
                                    Wartość
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lp in ListaPlusów)
                            {
                                <tr>
                                    <td>
                                        @if (lp.Anonym)
                                        {
                                            <span>Anonimowo</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => lp.Users.FirstName)<span>&nbsp;</span>@Html.DisplayFor(modelItem => lp.Users.LastName)
                                        }
                                    </td>
                                    <td style="margin-left:10px">
                                        @Html.DisplayFor(modelItem => lp.Content)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => lp.Value)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table mtable" style="width:100%; color: rgb(213,214,222)">
                        <thead style="color:gold">
                            <tr>
                                <th style="width:20%">
                                    Użytkownik
                                </th>
                                <th style="width:70%; margin-left:10px">
                                    Treść
                                </th>
                                <th style="width:10%">
                                    Wartość
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lm in ListaMinusów)
                            {
                                <tr>
                                    <td>
                                        @if (lm.Anonym)
                                        {
                                            <span>Anonimowo</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => lm.Users.FirstName)<span>&nbsp;</span>@Html.DisplayFor(modelItem => lm.Users.LastName)
                                        }
                                    </td>
                                    <td style="margin-left:10px">
                                        @Html.DisplayFor(modelItem => lm.Content)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => lm.Value)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="text-align:center; margin-top:30px">
    <a asp-action="Sessions">Powrót do Historii Sesji</a>
</div>

