﻿@{
    ViewData["Title"] = "Retro software project";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Retro</h1>
    <p>Wstępny projekt aplikacji i bazy danych - WSH III rok IT 2019/2020</p>
    <img src="~/icon.png"  alt="Retro" width="250" height="250"/>
</div>
