    <div class="container my-5">

        <h2>Polityka ochrony prywatności klientów Retro</h2>
          
         <p class="">Retro dba o prywatność użytkowników. Zapoznaj się z obowiązującymi w Retro zasadami ochrony prywatności, aby dowiedzieć się, w jaki sposób Retro gromadzi, wykorzystuje, ujawnia, przekazuje i przechowuje Twoje dane.</p>
        <p class="">Aby uzyskać dostęp do danych gromadzonych przez Retro i nimi zarządzać, wejdź na stronę <a href="../Account">Zarządzaj swoim kontem Retro</a>. Jeśli chcesz skorygować dane lub masz pytania ogólne, <a href="mailto:wsh.informatyka2018@gmail.com">skontaktuj się z zespołem ds. prywatności</a>.</p>
        
        </div>
