﻿@model IEnumerable<Retro.Data.Models.Session>


@using System.Security.Principal

@{
    ViewData["Title"] = "Sesje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1><br />
</div>


@if (User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-6">
            @foreach (var item in Model)
            {
                <ul class="list-group">
                    @if (item.Active)
                    {
                        <li class="list-group-item list-group-item-primary">
                            <div style="font-weight: bold">@Html.DisplayFor(modelItem => item.Projects.ProjectName), id nr @Html.DisplayFor(modelItem => item.Projects.Id)</div>
                            @Html.DisplayFor(modelItem => item.SessionDate), @Html.DisplayFor(modelItem => item.SessionName), id nr @Html.DisplayFor(modelItem => item.Id)
                            <div class="container" style=" margin-right: 0px; width: 110px; height: 40px; float:right">

                                <button type="button" class="pull-right btn btn-success" style="width: 100px;" data-toggle="modal" data-target="#myModal">Dołącz</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header pl-0">
                                                <h5 class="modal-title w-100 text-center position-absolute">Podaj hasło sesji</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                @using (Html.BeginForm("Index", "Comments", FormMethod.Post, new Retro.Data.Models.Session { }))
                                                {
                                                    @Html.ValidationSummary(true)

                                                    <div class="form-group">
                                                    @Html.Editor("AccessKey")
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="pull-right btn btn-success" style="width: 100px;">Dołącz</button>
                                                    </div>
                                                }


                                                <!--
                            <form asp-controller="Comments" asp-action="Index" method="post">
                                <div asp-validation-summary="None" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="@item.AccessKey" type="text" class="form-control" value="" />
                                    <span asp-validation-for="@item.AccessKey" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="pull-right btn btn-success" style="width: 100px;">Dołącz</button>
                                </div>
                            </form>
    -->
                                            </div>

                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    }
                </ul>
            }
            @foreach (var item in Model)
            {
                <ul class="list-group">
                    @if (item.Active == false)
                    {
                        <li class="list-group-item list-group-item-dark">
                            <div style="font-weight: bold">@Html.DisplayFor(modelItem => item.Projects.ProjectName), id nr @Html.DisplayFor(modelItem => item.Projects.Id)</div>
                            @Html.DisplayFor(modelItem => item.SessionDate), @Html.DisplayFor(modelItem => item.SessionName), id nr @Html.DisplayFor(modelItem => item.Id)
                            <div class="container" style=" margin-right: 0px; width: 110px; height: 40px; float:right">
                                <form asp-controller="Home" asp-action="History" method="post" asp-route-id="@item.Id">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" style="width: 100px;">Historia</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>

        <div class="col-md-6">
            <form asp-controller="Sessions" asp-action="Index" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-warning btn-block" style="height: 90px; font-size:26px" value="Załóż nową sesję" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="text-center" style="color:red">
        <h1 class="display-4 font-weight-bold">Proszę się zalogować</h1>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
