﻿@model Retro.Data.Models.Session

@{
    ViewData["Title"] = "Utwórz";

    var ts1 = new TimeSpan(0, 5, 0);
    var ts2 = new TimeSpan(0, 10, 0);
    var ts3 = new TimeSpan(0, 15, 0);
    var ts4 = new TimeSpan(0, 20, 0);
    var ts5 = new TimeSpan(0, 25, 0);
    var ts6 = new TimeSpan(0, 30, 0);
}

<style>

    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .forma {
        margin-top: 70px;
        /*margin-top: 10vh;*/
        width: 40vw;
        background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
    }

    .bg-nav {
        background-color: rgba(35,43,85,0.75)
    }

    .retro-nav {
        font-size: 3rem
    }

    .bg-footer {
        background-color: rgba(35,43,85,0.92)
    }
</style>

<div class="row">
    <div class="container">
        <form asp-action="Create" class="p-5 forma  mx-auto" style="color: rgb(213,214,222)">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <h4 class="text-center">Tworzenie sesji</h4>

            <div class="form-group">
                <label asp-for="SessionName" class="control-label"></label>
                <input asp-for="SessionName" class="form-control" />
                &nbsp;<span asp-validation-for="SessionName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="SessionTime" class="control-label"></label>
                <select asp-for="SessionTime" class="form-control">
                    <option value=@ts1>5m</option>
                    <option value=@ts2>10m</option>
                    <option value=@ts3>15m</option>
                    <option value=@ts4>20m</option>
                    <option value=@ts5>25m</option>
                    <option value=@ts6>30m</option>
                </select>
                &nbsp;<span asp-validation-for="SessionTime" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfVotes" class="control-label"></label>
                <select asp-for="NumberOfVotes" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                &nbsp;<span asp-validation-for="NumberOfVotes" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccessKey" class="control-label"></label>
                <input asp-for="AccessKey" class="form-control" />
                &nbsp;<span asp-validation-for="AccessKey" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                &nbsp;
            </div>

            <div class="form-group form-check custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" asp-for="Anonym" />
                <label class="custom-control-label" for="switch1" asp-for="Anonym">
                    <span class="ui"></span>
                    @Html.DisplayNameFor(m => m.Anonym)
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-circle btn-primary btn-block mt-5">Potwierdź</button>
            </div>
        </form>
    </div>
</div>

<div style="text-align:center">
    <br class="m-4" />
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
