﻿@model Retro.Data.Models.Session

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1><br />

<h3>Czy na pewno usunąć sesję?</h3><br />
<div>
    <h4>Sesja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfVotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfVotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Porót do listy</a>
    </form>
</div>
