﻿@model Retro.Data.Models.Session

@{
    ViewData["Title"] = "Detale";
}

<h1>Detale</h1><br/>

<div>
    <h4>Sesje</h4><br />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfVotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfVotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
