﻿@model Retro.Data.Models.Session

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1><br />

<h4>Sesje</h4><br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SessionName" class="control-label"></label>
                <input asp-for="SessionName" class="form-control" />
                <span asp-validation-for="SessionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfVotes" class="control-label"></label>
                <input asp-for="NumberOfVotes" class="form-control" />
                <span asp-validation-for="NumberOfVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDate" class="control-label"></label>
                <input asp-for="SessionDate" class="form-control" />
                <span asp-validation-for="SessionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionTime" class="control-label"></label>
                <input asp-for="SessionTime" class="form-control" />
                <span asp-validation-for="SessionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessKey" class="control-label"></label>
                <input asp-for="AccessKey" class="form-control" />
                <span asp-validation-for="AccessKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
