﻿@model IEnumerable<Retro.Data.Models.Session>

@{
    ViewData["Title"] = "Lista sesji";
}

<h1>Lista sesji</h1>
<br />

@{
    bool sactive = false;
    foreach (var item in Model)
    {
        if (item.Active) sactive = true;
    }
    if (sactive)
    {
        <p>
            <div style="color: red">Nie można utworzyć nowej bo aktualnie jest aktywna sesja.</div>
        </p>
    }
    else
    {
        <p>
            <a asp-action="Create">Utwórz nową</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfVotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projects.ProjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Sessions">Powrót do Historii sesji</a>
</div>

