﻿@model Retro.Data.Models.User

@{
    ViewData["Title"] = "LoginCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<link rel="stylesheet" href="~/css/login_logout.css" />
<script src="~/js/login_logout.js"></script>

<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class"links">
                <li class="li-login signin-active"><a class="btn">Logowanie</a></li>
                <li class="li-login signup-inactive"><a class="btn">Rejestracja</a></li>
            </ul>
        </div>
        <form class="form-signin" asp-action="Login">
            @if (((string)ViewData["requestForm"]) == "login")
            {
                <div asp-validation-summary="All" class="text-warning"></div>
            }

            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-styling" />
                &nbsp;<span asp-validation-for="Login" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-styling" />
                &nbsp;<span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="checkbox" id="checkbox" asp-for="RememberMe" />
                <label for="checkbox" asp-for="RememberMe">
                    <span class="ui"></span>
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <button type="submit" class="btn-signin">Zaloguj</button>
        </form>

        <form class="form-signup" asp-action="Register">
            @if (((string)ViewData["requestForm"]) == "register")
            {
                <div asp-validation-summary="All" class="text-warning"></div>
            }

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-styling" />
                &nbsp;<span asp-validation-for="FirstName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-styling" />
                &nbsp;<span asp-validation-for="LastName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-styling" />
                &nbsp;<span asp-validation-for="EmailAddress" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-styling" />
                &nbsp;<span asp-validation-for="Login" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-styling" />
                &nbsp;<span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-styling" />
                &nbsp;<span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <input type="submit" value="Utwórz" class="btn-signup" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
