﻿@model Retro.Data.Models.Comment

@{
    ViewData["Title"] = "Create";
    var session = ViewData["ActiveSession"] as Retro.Data.Models.Session;
}

<style>
    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .formpost {
        margin-top: 50px;
        width: 100%;
        background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
    }
</style>

<div class="p-4 formpost" style="color: rgb(213,214,222)">

    <form asp-action="Create">
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-primary btn-outline-light float-right" style="width:20%" />
        </div>
        <h4>Dodaj komentarz</h4>
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>
        <!--
    <div class="form-group">
        <label asp-for="Value" class="control-label"></label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
    </div>
    -->
        @if (session.Anonym)
        {
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Anonym" /> @Html.DisplayNameFor(model => model.Anonym)
                </label>
            </div>
        } else
        {
            <span>Tryb anonimowy wyłączony</span>
        }
        <hr style="border: 1px solid white">
        <div class="form-group">
            <label asp-for="CommentTypeId" class="control-label"></label>
            <select asp-for="CommentTypeId" class="form-control" asp-items="ViewBag.CommentTypeId" style="width:25%"></select>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </form>

</div>

<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
