﻿@model IEnumerable<Retro.Data.Models.User>

@{
    var session = ViewData["ActiveSession"] as Retro.Data.Models.Session;
    var commentdetails = ViewData["CommentDetails"] as IEnumerable<Retro.Data.Models.CommentDetail>;
    var currentuser = ViewData["CurrentUser"] as Retro.Data.Models.User;
    var username = currentuser.FirstName + " " + currentuser.LastName;
}

<div class="row" style="margin-top: 50px">
    <div class="col-md-2">
        <span style="font-weight:bold">
            @session.SessionName<br />
        </span>
        <hr style="border: 1px solid rgba(35,43,85,0.75)">
        <div id="partialu">
            <partial name="Partialu" />
        </div>
    </div>

    <div class="col-md-10">
        @if (currentuser.ScrumMaster)
        {
            <span style="font-weight:bold">Scrum Master : </span>@username<span>&nbsp;&nbsp;&nbsp;</span><a asp-controller="Comments" asp-action="Move">Następny etap</a><br />
        }
        else
        {
            <span style="font-weight:bold">Uczestnik sesji : </span>@username<br />
        }
        <hr style="border: 1px solid rgba(35,43,85,0.75)">
        <div id="partialc">
            <partial name="Partialc" />
        </div>

        <div style="margin-top:50px">
            @if (session.Mode == 0)
            {
                <partial name="Create" model=@ViewData["CommentModel"] />
            }
        </div>
    </div>
</div>

<div style="margin-top:50px"></div>

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                Treść
            </th>
            <th>
                Wartość
            </th>
            <th>
                Anonimowo
            </th>
            <th>
                Użytkownik
            </th>
            <th>
                Typ komentarza
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach (var com in item.Comments)
            {
                foreach (var dt in commentdetails)
                {
                    if (dt.CommentId == com.Id && dt.SessionId == session.Id)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => com.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => com.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => com.Anonym)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => com.CommentTypes.TypeName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@com.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@com.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@com.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
-->


@section Scripts
{
    <script type="text/javascript">

        $(function () {
            setInterval(function () {
                // $("#partialc").hide().load("@Url.Action("CommentsUpdate","Comments")").fadeIn("fast");
                // $("#partialu").hide().load("@Url.Action("UsersUpdate","Comments")").fadeIn("fast");
                $("#partialc").load("@Url.Action("CommentsUpdate","Comments")");
                $("#partialu").load("@Url.Action("UsersUpdate","Comments")");
            }, 1000);

            setInterval(function () {
                $.get("@Url.Action("UsersSynchronize", "Comments")", null, function (data) {
                    // stop session when scrum master stopped session
                    if (data == "stop") window.location.href = "@Url.Action("Sessions", "Home")";
                    if (data == "move") window.location.href = "@Url.Action("Move", "Comments")";
                    if (data == "refreshclients") window.location.href = "@Url.Action("Index", "Comments")";
                });
            }, 1000);

        });

    </script>
}
