﻿@model IEnumerable<Retro.Data.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] imgs = {
    "~/images/1.jpg",
    "~/images/2.jpg",
    "~/images/3.jpg",
    "~/images/4.jpg",
    "~/images/5.jpg",
    "~/images/6.jpg",
    "~/images/7.jpg",
    "~/images/8.jpg",
    "~/images/9.jpg",
    "~/images/10.jpg",
    "~/images/11.jpg",
    "~/images/12.jpg",
    "~/images/13.jpg",
    "~/images/14.jpg",
    "~/images/15.jpg",
    "~/images/16.jpg",
    "~/images/17.jpg",
    "~/images/18.jpg",
    "~/images/19.jpg",
    "~/images/20.jpg"
    };

    string[] imgsp = {
    "~/images/1p.jpg",
    "~/images/2p.jpg",
    "~/images/3p.jpg",
    "~/images/4p.jpg",
    "~/images/5p.jpg",
    "~/images/6p.jpg",
    "~/images/7p.jpg",
    "~/images/8p.jpg",
    "~/images/9p.jpg",
    "~/images/10p.jpg",
    "~/images/11p.jpg",
    "~/images/12p.jpg",
    "~/images/13p.jpg",
    "~/images/14p.jpg",
    "~/images/15p.jpg",
    "~/images/16p.jpg",
    "~/images/17p.jpg",
    "~/images/18p.jpg",
    "~/images/19p.jpg",
    "~/images/20p.jpg"
    };

    var session = ViewData["ActiveSession"] as Retro.Data.Models.Session;
    var commentdetails = ViewData["CommentDetails"] as IEnumerable<Retro.Data.Models.CommentDetail>;

    List<string> images = new List<string>();
    if (session.Mode == 1)
    {
        // dla głosowania
        images = imgsp.ToList();
    }
    else
    {
        // dla dodawania i wyników
        images = imgs.ToList();
    }




    /*
    // sortowanie w oparciu o listę
    List<Retro.Data.Models.Comment> ListaPlusów = new List<Retro.Data.Models.Comment>();
    List<Retro.Data.Models.Comment> ListaMinusów = new List<Retro.Data.Models.Comment>();

    var i = 0;
    foreach (var user in users)
    {
        foreach (var com in user.Comments)
        {
            foreach (var dt in commentdetails)
            {
                if (dt.CommentId == com.Id && dt.SessionId == session.Id)
                {
                    if (com.CommentTypes.TypeName == "plusy")
                    {
                        ListaPlusów.Add(com);
                    }
                    if (com.CommentTypes.TypeName == "minusy")
                    {
                        ListaMinusów.Add(com);
                    }
                }
            }
        }
    }
    ListaPlusów = ListaPlusów.OrderByDescending(x => x.Value).ToList();
    ListaMinusów =  ListaMinusów.OrderByDescending(x => x.Value).ToList();
    ViewBag.ListaPlusów = ListaPlusów;
    ViewBag.ListaMinusów = ListaMinusów;
    */

}


<style>
    body {
        background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8))
    }

    .btn-circle {
        border-radius: 50px
    }

    .formposts {
        margin-top: 30px;
        /*margin-top: 10vh;*/
        width: 100%;
        background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2)
    }

    .bg-nav {
        background-color: rgba(35,43,85,0.75)
    }

    .retro-nav {
        font-size: 3rem
    }
</style>


<div style="text-align: center">
    <div style="float:right">
        @{ 
            TimeSpan redTimeSpan = new TimeSpan(00, 00, 30);
            if (TimeSpan.Compare(session.RemainingTime, redTimeSpan) == 1)
            {
                <span style="color:black;">Pozostały czas : @session.RemainingTime<br /></span>
            }

            else
            {
                <span style="color:black">Pozostały czas : </span><span style="color:red"> @session.RemainingTime<br /></span>
            }
        }

    </div>

    <br />
        @if (session.Mode == 0)
        {
            <p style="color:blue; font-weight:bold; font-size:30px">Dodawanie</p>
        }
        else if (session.Mode == 1)
        {
            <p style="color:blue; font-weight:bold; font-size:30px">Głosowanie</p>

        }
        else if (session.Mode == 2)
        {
            <p style="color:blue; font-weight:bold; font-size:30px">Wyniki</p>
        }
        else
        {
            <p style="color:blue; font-weight:bold; font-size:30px">Błąd</p>
        }

    <table class="table table-bordered formposts" style="color: rgb(213,214,222)">
        <thead>
            <tr>
                <th>Plusy</th>
                <th>Minusy</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td style="width: 50%; text-align:left; margin-left: 25px">
                    @{
                        var i = 0;
                        @foreach (var user in Model)
                        {
                            @foreach (var com in session.Mode == 2 ? user.Comments.OrderByDescending(x => x.Value) : user.Comments.OrderBy(x => x.Id))
                            {
                                @foreach (var detail in commentdetails)
                                {
                                    @if ((detail.CommentId == com.Id) && (detail.SessionId == session.Id))
                                    {

                                        @if (com.CommentTypes.TypeName == "plusy")
                                        {
                                            @if (com.Anonym)
                                            {
                                                @if (session.Mode == 1)
                                                {
                                                    <a asp-controller="Comments" asp-action="Vote" asp-route-id="@com.Id">
                                                        <img src="@Url.Content("~/images/anonymp.jpg")" width="20" height="20" />
                                                    </a>
                                                    <span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    <span>(</span>
                                                    @Html.DisplayFor(modelItem => com.Value);
                                                    <span>)</span>
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/images/anonym.jpg")" width="20" height="20" /><span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    @if (session.Mode == 2)
                                                    {
                                                        <span>(</span>
                                                        @Html.DisplayFor(modelItem => com.Value);
                                                        <span>)</span>
                                                    }
                                                }
                                                <br />
                                            }
                                            else
                                            {
                                                @if (session.Mode == 1)
                                                {
                                                    <a asp-controller="Comments" asp-action="Vote" asp-route-id="@com.Id">
                                                        <img src="@Url.Content(images[i])" width="20" height="20" />
                                                    </a>
                                                    <span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    <span>(</span>
                                                    @Html.DisplayFor(modelItem => com.Value);
                                                    <span>)</span>
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content(images[i])" width="20" height="20" /><span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    @if (session.Mode == 2)
                                                    {
                                                        <span>(</span>
                                                        @Html.DisplayFor(modelItem => com.Value);
                                                        <span>)</span>
                                                    }
                                                }
                                                <br />
                                            }
                                        }

                                    }
                                }

                            }
                            i++;
                        }
                    }
                </td>

                <td style="width: 50%; text-align:left; margin-left: 25px">
                    @{
                        i = 0;
                        @foreach (var user in Model)
                        {
                            @foreach (var com in session.Mode == 2 ? user.Comments.OrderByDescending(x => x.Value) : user.Comments.OrderBy(x => x.Id))
                            {
                                @foreach (var detail in commentdetails)
                                {
                                    @if ((detail.CommentId == com.Id) && (detail.SessionId == session.Id))
                                    {

                                        @if (com.CommentTypes.TypeName == "minusy")
                                        {
                                            @if (com.Anonym)
                                            {
                                                @if (session.Mode == 1)
                                                {
                                                    <a asp-controller="Comments" asp-action="Vote" asp-route-id="@com.Id">
                                                        <img src="@Url.Content("~/images/anonymp.jpg")" width="20" height="20" />
                                                    </a>
                                                    <span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    <span>(</span>
                                                    @Html.DisplayFor(modelItem => com.Value);
                                                    <span>)</span>
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/images/anonym.jpg")" width="20" height="20" /><span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    @if (session.Mode == 2)
                                                    {
                                                        <span>(</span>
                                                        @Html.DisplayFor(modelItem => com.Value);
                                                        <span>)</span>
                                                    }
                                                }
                                                <br />
                                            }
                                            else
                                            {
                                                @if (session.Mode == 1)
                                                {
                                                    <a asp-controller="Comments" asp-action="Vote" asp-route-id="@com.Id">
                                                        <img src="@Url.Content(images[i])" width="20" height="20" />
                                                    </a>
                                                    <span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    <span>(</span>
                                                    @Html.DisplayFor(modelItem => com.Value);
                                                    <span>)</span>
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content(images[i])" width="20" height="20" /><span>&nbsp;</span>@Html.DisplayFor(modelItem => com.Content)
                                                    @if (session.Mode == 2)
                                                    {
                                                        <span>(</span>
                                                        @Html.DisplayFor(modelItem => com.Value);
                                                        <span>)</span>
                                                    }
                                                }
                                                <br />
                                            }
                                        }

                                    }
                                }

                            }
                            i++;
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
