﻿@model IEnumerable<Retro.Data.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] imgs = {
    "~/images/1.jpg",
    "~/images/2.jpg",
    "~/images/3.jpg",
    "~/images/4.jpg",
    "~/images/5.jpg",
    "~/images/6.jpg",
    "~/images/7.jpg",
    "~/images/8.jpg",
    "~/images/9.jpg",
    "~/images/10.jpg",
    "~/images/11.jpg",
    "~/images/12.jpg",
    "~/images/13.jpg",
    "~/images/14.jpg",
    "~/images/15.jpg",
    "~/images/16.jpg",
    "~/images/17.jpg",
    "~/images/18.jpg",
    "~/images/19.jpg",
    "~/images/20.jpg"
    };

    var session = ViewData["ActiveSession"] as Retro.Data.Models.Session;
}

    <div style="margin-top: 75px">
        @{
            int i = 0;
            @foreach (var user in Model)
            {
                if (user.ScrumMaster)
                {
                    <img src="@Url.Content(imgs[i])" width="17" height="17" />
                    @Html.DisplayFor(modelItem => user.FirstName)<span>&nbsp;</span>@Html.DisplayFor(modelItem => user.LastName);
                    @if (session.Mode > 0)
                    {
                        <span>-</span>
                        @Html.DisplayFor(modelItem => user.Votes);
                    }
                    <br />
                    <hr style="border: 1px solid rgba(35,43,85,0.75)">
                }

                if (user.Active && user.ScrumMaster == false)
                {
                    <img src="@Url.Content(imgs[i])" height="17" width="17" />
                    @Html.DisplayFor(modelItem => user.FirstName)<span>&nbsp;</span>@Html.DisplayFor(modelItem => user.LastName);
                    @if (session.Mode > 0)
                    {
                        <span>-</span>
                        @Html.DisplayFor(modelItem => user.Votes);
                    }
                    <br />
                }
                i++;
            }
        }

    </div>
